terraform/.terraform
.terraform*
terraform.*
*.tfvars
*.log
*.csv
inventory.yml
**/__pycache__/**
**/mlruns/*
*.keras
*.pkl
**/docker/waether-timeseries-forecasts/*
*.h5
*.tar
*.pb
*variables.data*
variables.index
*.drawio